%% -*- erlang -*-
{erl_opts, [debug_info]}.

{deps, [
	{neg_hydra, ".*", {git, "http://ry96@git.newegg.org/scm/dp/neg_hydra.git", "master"}},
%	{'erlang-rfc4627', ".*", {git, "https://github.com/tonyg/erlang-rfc4627.git", "master"}},
	{meck, ".*", {git, "https://github.com/exproxus/meck.git", "master"}}]}.

%% Eunit Options ==============================================================
{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
%{deps_dir, "deps/neg_hydra/deps"}.
%{lib_dirs, ["deps/erlang-rfc4627/ebin"]}.

%% Misc =======================================================================
{clean_files, [".eunit", "ebin/*.beam", "test/*.beam"]}.
