%% -*- erlang -*-
%{erl_opts, [debug_info]}.
{erl_opts, []}.
 {deps, [{neg_hydra, ".*", {git, "http://ry96@git.newegg.org/scm/dp/neg_hydra.git", "master"}}]}.

%% Eunit Options ==============================================================
{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

%% Misc =======================================================================
{clean_files, [".eunit", "ebin/*.beam", "test/*.beam"]}.
