[
{neg_hydra,
    [
        {port,8303},
        {report_address, "http://10.16.76.245"},
        {report_day, 7},
        {remind_template, "default_remind.dtl"},
        {report_template, "default_report.dtl"},
        {jira_address, "http://jira"},
        {handler,ddrt_handler},
        {supervisors, [ddrt_sup]},
        {mysql_pool, 
            [{size,2},
            {user,"ddrt_user"},
            {password,"Newegg@123"},
            {host,"10.16.76.245"},
            {database,"ddrt_jira_dev"},
            {encoding,utf8}
            ]
        },
        {crl_connect,"DRIVER={SQL Server};SERVER=s7kms01;DATABASE=CRL2006;UID=CrlReadOnly;PWD=Git123!@#"}
    ]}
].
