[
{neg_hydra,
	[
		{port,8303},

		{handler,ddrt_handler},
                    {supervisors, [ddrt_sup]},
                    {
                      mysql_pool, [{size,2},
                                         {user,"root"},
                                         {password,"root"},
                                         {host,"10.16.76.227"},
                                         {database,"ddrt"},
                                         {encoding,utf8}]},
                    {ddrt_time, [{remind,"13:42"},{send, "14:00"}, {span, 1}]}

	]}
].
