[
{neg_hydra,
    [
        {port,8303},
        {report_address, "http://10.16.76.245"},
        {report_day, 8},
        {remind_template, "default_remind.dtl"},
        {report_template, "default_report.dtl"},
        {handler,ddrt_handler},
        {supervisors, [ddrt_sup]},
        {mysql_pool, 
            [{size,2},
            {user,"ddrt_user"},
            {password,"Newegg@123"},
            {host,"10.16.76.245"},
            {database,"ddrt_dev"},
            {encoding,utf8}
            ]
        }
    ]}
].
